<ng-container *ngIf="basket$ | async">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="border-0 bg-primary" scope="col">
                        <div class="p-2 px-3 text-uppercase text-white"> Product</div>
                    </th>
                    <th class="border-0 bg-primary" scope="col">
                        <div class="p-2 px-3 text-uppercase text-white"> Price</div>
                    </th>
                    <th class="border-0 bg-primary" scope="col">
                        <div class="p-2 px-3 text-uppercase text-white"> Quantity</div>
                    </th>
                    <th class="border-0 bg-primary" scope="col">
                        <div class="p-2 px-3 text-uppercase text-white"> Total</div>
                    </th>
                    <th *ngIf="isBasket" class="border-0 bg-primary" scope="col">
                        <div class="p-2 px-3 text-uppercase text-white"> Remove</div>
                    </th>
    
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let item of (basket$ | async).productItems">
                    <th scope="row">
                        <div class="p-2 d-flex justify-content-start">
                            <img src="{{item.photoUrl}}" alt="{{item.name}}" class="img-fluid" style="max-height: 50px;">
                            <div class="ml-3 d-inline-block align-middle">
                                <h5 class="mb-0">
                                    <a routerLink="/shop/{{item.id}}"
                                    class="text-dark">{{item.name}}
                                    </a>
                                </h5>
                                <span class="text-muted font-weight-normal font-italic d-block">
                                    Type: {{item.type}}
                                </span>
                            </div>
                        </div>
                    </th>
    
                    <td class="align-middle"> <strong>{{item.price | currency}}</strong>
                    </td>
    
                    <td class="align-middle">
                        <div class="d-flex align-items-center" 
                        [class.justify-content-center]="!isBasket">
                            <i *ngIf="isBasket" (click)="decrementProductItemQuantity(item)" class="fa fa-minus-circle text-danger mr-2" style="cursor: pointer; font-size: 2em;"></i>
                            <span class="font-weight-bold" style="font-size: 1.5em;">{{item.quantity}}</span>
                             <i *ngIf="isBasket" (click)="incrementProductItemQuantity(item)" class="fa fa-plus-circle text-success mx-2" style="cursor: pointer; font-size: 2em;"></i>
    
                        </div>
                    </td>
                    <td class="align-middle">
                        <strong>{{item.price * item.quantity | currency}}</strong>
                    </td>
                    <td class="align-middle text-center">
                        <a class="text-danger">
                            <i *ngIf="isBasket" (click)="removeBasketProductItem(item)" class="fa fa-trash" style="cursor: pointer;font-size: 2em"></i>
                        </a>
                    </td>
    
                </tr>
    
                <tr *ngFor="let item of (basket$ | async).partItems">
                    <th scope="row">
                        <div class="p-2 d-flex justify-content-start">
                            <img src="{{item.photoUrl}}" alt="{{item.name}}" class="img-fluid" style="max-height: 50px;">
                            <div class="ml-3 d-inline-block align-middle">
                                <h5 class="mb-0">
                                    <a routerLink="/shop/{{item.id}}"
                                    class="text-dark">{{item.name}}
                                    </a>
                                </h5>
                                <span class="text-muted font-weight-normal font-italic d-block">
                                    Type: {{item.type}}
                                </span>
                            </div>
                        </div>
                    </th>
    
                    <td class="align-middle"> <strong>{{item.price | currency}}</strong>
                    </td>
    
                    <td class="align-middle">
                        <div class="d-flex align-items-center"
                        [class.justify-content-center]="!isBasket">
                            <i *ngIf="isBasket" (click)="decrementPartItemQuantity(item)" class="fa fa-minus-circle text-danger mr-2" style="cursor: pointer; font-size: 2em;"></i>
                            <span class="font-weight-bold" style="font-size: 1.5em;">{{item.quantity}}</span>
                             <i *ngIf="isBasket" (click)="incrementPartItemQuantity(item)" class="fa fa-plus-circle text-success mx-2" style="cursor: pointer; font-size: 2em;"></i>
    
                        </div>
                    </td>
                    <td class="align-middle">
                        <strong>{{item.price * item.quantity | currency}}</strong>
                    </td>
                    <td class="align-middle text-center">
                        <a class="text-danger">
                            <i *ngIf="isBasket" (click)="removeBasketPartItem(item)" class="fa fa-trash" style="cursor: pointer;font-size: 2em"></i>
                        </a>
                    </td>
    
                </tr>
            </tbody>
    
        </table>
    </div>
</ng-container>