<div class="container mt-5">
    <h2>User Email: {{order.buyerEmail}}</h2>
    <div class="row" *ngIf="order">
      <div class="col-8">
        <app-basket-summary
          [isBasket]="false"
          [isOrder]="true"
          [orderItems]="order.items"

        ></app-basket-summary>
      </div>
      <div class="col-4">
        <app-order-totals
          [shippingPrice]="order.shippingPrice"
          [subTotal]="order.subtotal"
          [total]="order.total"
          [tps5]="this.tps5"
          [tvq9975]="this.tvq9975"
          [totalTaxed]="this.totalTaxed"
        ></app-order-totals>
      </div>
    </div>
  </div>
  
  