<div class="container">

    <button routerLink="/admin/pannel" class="btn btn-success font-x-large d-flex align-items-center justify-content-center mb-3"><i class="fa fa-chevron-left fa-2x mr-1"></i> Back</button>
<div class="row ">
        
        <div class="row d-flex justify-content-center" *ngIf="blog.photoUrl">
            <img src="{{blog.photoUrl}}" alt="{{blog.photoUrl}}" class="img img-thumbnail p-1">

            
        </div>
       
</div>

<button *ngIf="blog.photoUrl" (click)="deletePhoto()"
class="btn btn-block btn-danger d-flex justify-content-center" style="width: 100px;"
><i class="fa fa-trash"></i></button>

<div class="row mt-3 " *ngIf="!blog.photoUrl">
 
    <div class="col-md-3">

        <h3>Add Photos To <strong>{{blog.title}}</strong></h3>

        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="card bg-faded p-3 text-center mb-3 my-drop-zone">
             <i class="fa fa-picture-o fa-3x"></i>
            Drop Photo Here
        </div>

       

        
        <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

       
    </div>

    <div class="col-md-9 mt-3" style="margin-bottom: 40px" *ngIf="uploader?.queue.length">

        <h3>Upload queue</h3>
        <p>Photos Count: {{ uploader?.queue?.length }}</p>

        <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                
               
               
            </tr>
            </tbody>
        </table>

        <div>
            <div>
                Upload progress:
                <div class="progress" >
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel all
            </button>
            <button type="button" class="btn btn-primary btn-s"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-trash"></span> Remove all
            </button>
        </div>

    </div>

</div>

</div>