<head>
    <title>Home-quick view of latest appliances and parts</title>
    <meta name="description" content="You can see our latest appliances and parts here also repair request">  
</head>


<div class="" >
    <div >
        <div class="d-flex justify-content-center pt-4 text-primary text-center">
            <h1>Welcome to Electro Moderne!</h1>
        </div>
        <div class="d-flex justify-content-center text-center pt-2 text-info">
            <h2>The Best Distributor for Appliance Poducts & Parts In Montréal-Quebec!</h2>
        </div>
        <div class="d-flex justify-content-center text-center pb-4 mb-5">
            <h1>Also We REPAIR ALL APPLIANCES TOO!!!!Just Call Us Or Click <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"> Repair Request.</a></h1>
        </div>
    
    </div>

    <div class="row d-flex justify-content-center  mb-5 p-5" style="background-color: whitesmoke;">
        <div class="col-12 d-flex justify-content-center text-primary text-center mb-3 ">
            <h1>Appliance troubleshooting and repair</h1>
  
        </div>

        <div class="row d-flex container">

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-5 text-center">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"> 
                <img src="../../assets/images/dishwasher repair montreal.png" alt="dishwasher repair montreal" class="img-fluid custom-img"  >
                <h2 class="text-primary ">Dishwasher Repair</h2>
            </a>
            </div>
            
            <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-5 text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"> 
                <img src="../../assets/images/refrigerator repair montreal.png" alt="refrigerator repair montreal" class="img-fluid custom-img" >
                <h2 class="text-primary ">Refrigerator Repair</h2>
                </a>   
            </div>

            <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"> 
                <img src="../../assets/images/stove repair montreal.png" alt="stove repair montreal" class="img-fluid custom-img" >
                <h2 class="text-primary ">Stove Repair</h2>
                 </a>
            </div>

            <div class="  col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"> 
                <img src="../../assets/images/washer repair montreal.png" alt="washer repair montreal" class="img-fluid custom-img" >
                <h2 class="text-primary ">Washer Repair</h2>
            </a>
            </div>


            <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"> 
                <img src="../../assets/images/dryer repair montreal.png" alt="dryer repair montreal" class="img-fluid custom-img" >
                <h2 class="text-primary ">Dryer Repair</h2>
            </a>
            </div>

            <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"> 
                <img src="../../assets/images/freezer repair montreal.png" alt="freezer repair montreal" class="img-fluid custom-img" >
                <h2 class="text-primary ">Freezer Repair</h2>
            </a>
            </div>

            <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"> 
                <img src="../../assets/images/microwave repair montreal.png" alt="microwave repair montreal" class="img-fluid custom-img" >
                <h2 class="text-primary ">Microwave Repair</h2>
            </a>
            </div>

            <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"> 
                <img src="../../assets/images/hood repair montreal.png" alt="hood repair montreal" class="img-fluid custom-img" >
                <h2 class="text-primary ">Hood Repair</h2>
            </a>
            </div>
            

            <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"> 
                <img src="../../assets/images/air conditioner repair montreal.png" alt="air conditioner repair montreal" class="img-fluid custom-img" >
                <h2 class="text-primary ">Air Conditioner Repair</h2>
            </a>
            </div>

            <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"> 
                <img src="../../assets/images/heat tank repair montreal.png" alt="heat tank repair montreal" class="img-fluid custom-img" >
                <h2 class="text-primary ">Heat Tank Repair</h2>
            </a>
            </div>

            <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"> 
                <img src="../../assets/images/furnace repair montreal.png" alt="furnace repair montreal" class="img-fluid custom-img" >
                <h2 class="text-primary ">Furnace Repair</h2>
            </a>
            </div>

           
            
        </div>
      
    </div>
    
  <div class="row d-flex justify-content-center  mb-5">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center ">
                <div class=" d-flex justify-content-center align-items-center">
                    <i class="fa fa-truck fa-5x"></i>
                    <h1>Deliver & Install</h1>
                </div>
                <div class="text-center">
                    <h3>If you need a hand with anything, please check our range of services when you place your order</h3>
                </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center ">
            <div class=" d-flex justify-content-center align-items-center">
                <i class="fa fa-cogs fa-5x"></i>
                <h1>Repair & Fix Your Appliances</h1>
            </div>
            <div class="text-center">
                <h3>If you have problem with any Appliances, please click fast on repair request, we will come to your aid quickly!</h3>
            </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center">
        <div class=" d-flex justify-content-center align-items-center">
            <i class="fa fa-line-chart fa-5x"></i>
            <h1>Sell Best Appliances & Appliance Parts in montréal</h1>
        </div>
        <div class="text-center">
            <h3>Sell Brand New and Refurbished Appliances & Appliance Parts</h3>
        </div>
     </div>
  </div>


  <div class="row d-flex justify-content-center mb-5 p-5" style="background-color: whitesmoke;">
    <div class="col-12 d-flex justify-content-center text-primary mb-3">
        <h1>Our Latest Products</h1>
    </div>
    <div>
        <app-latest-products></app-latest-products>
    </div>
 </div>
   

    <div class="row d-flex justify-content-center mb-5 p-5 text-danger">
        <div class="col-12 text-center">
            <h1 class="mb-5">Appliance Repair & Installation Service </h1>
        </div>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/amana appliance repair-installation montreal.png" alt="amana appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/whirlpool appliance repair-installation  montreal.png" alt="whirlpool appliance installation repair montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/samsung appliance repair-installation montreal.png" alt="samsung appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/lg appliance repair-installation  montreal.png" alt="lg appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/general electric appliance repair-installation  montreal.png" alt="general electric appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/Bosch appliance repair-installation montreal.png" alt="Bosch appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/kenmore appliance repair-installation montreal.png" alt="kenmore appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/inglis appliance repair-installation montreal.png" alt="inglis appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/maytag appliance repair-installation montreal.png" alt="maytag appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/blomberg appliance repair-installation montreal.png" alt="blomberg appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/brada appliance repair-installation montreal.png" alt="brada appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/electrolux appliance repair-installation montreal.png" alt="electrolux appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/frigidaire appliance repair-installation montreal.png" alt="frigidaire appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/haier appliance repair-installation montreal.png" alt="haier appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/hisense appliance repair-installation montreal.png" alt="hisense appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/jennair appliance repair-installation montreal.png" alt="jennair appliance repair installation montreal" class="brand-img img-fluid"></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/kitchenaid appliance repair-installation montreal.png" alt="kitchenaid appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/miele appliance repair-installation montreal.png" alt="miele appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/moffat appliance repair-installation montreal.png" alt="moffat appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/subzero appliance repair-installation montreal.png" alt="subzero appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/thermador appliance repair-installation montreal.png" alt="thermador appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/thor appliance repair-installation montreal.png" alt="thor appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/uberhaus appliance repair-installation montreal.png" alt="uberhaus appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/viking appliance repair-installation montreal.png" alt="viking appliance repair installation montreal" class="brand-img img-fluid" ></a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScme5U0JfDxoKGJGm74F8HDmA-L2kudIkMM2KlN199siko27w/viewform?vc=0&c=0&w=1&flr=0&usp=mail_form_link"><img src="../../assets/images/brands/westinghouse appliance repair-installation montreal.png" alt="westinghouse appliance repair installation montreal" class="brand-img img-fluid" ></a>
        
    </div>


   

    <div class="row d-flex justify-content-center mb-5 p-5" style="background-color: whitesmoke;">
        <div class="col-12 d-flex justify-content-center text-primary mb-3">
            <h1>Our Latest Parts </h1>
        </div>
        <div class="col-12">
            <app-latest-parts></app-latest-parts>
        </div>
     </div>
   
</div>