<div class=" mt-4">
    <app-basket-summary [isBasket]=false></app-basket-summary>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-warning d-flex align-items-center" cdkStepperPrevious>
        <i class="fa fa-angle-left fa-3x"></i> Back To Delivery
    </button>
    <button class="btn btn-success
     d-flex align-items-center" cdkStepperNext>
      Go To Payment <i class="fa fa-angle-right fa-3x "></i> 
    </button>
</div>