<section class="py-5" style=" ">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-9 text-white">
                <h1>Title Goes Here</h1>
            </div>
            <div class="col-3">
               
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                  </ol>
                 
            </div>
        </div>
    </div>
</section>