<div class="row my-2 d-flex justify-content-center">
    <button routerLink="/admin/add-new-part" class="btn btn-success d-flex align-items-center "><i class="fa fa-plus fa-2x mr-1"></i> Add New Part</button>
</div>

<div class="row d-flex justify-content-center align-items-center my-2">
    <app-paging-header
    [totalCount]="totalCount"
    [pageSize]="this.partsParams.pageSize"
    [pageNumber]="this.partsParams.pageNumber"
    ></app-paging-header>
</div>

<div class="row">
    <table class="table">
        <tr>
            <th style="width: 15%;">Part Name</th>
            <th style="width: 15%;">Part Number</th>
            <th style="width: 15%;">Part Type</th>
            <th style="width: 15%;">Part Brand</th>
            <th style="width: 10%;">Price</th>
            <th style="width: 15%;">Local ID</th>
            <th style="width: 15%;"></th>
        </tr>
        <tr *ngFor="let part of parts">
            <td>{{part.name}}</td>
            <td>{{part.partNumber}}</td>
            <td>{{part.partType}}</td>
            <td>{{part.partBrand}}</td>
            <td>{{part.price}}</td>
            <td>{{part.localId}}</td>
            <td class="d-flex justify-content-start">
                <div class="btn-group">
                <button (click)="setPartToAddPhoto(part)" class="btn btn-info d-flex align-items-center"><i class="fa fa-picture-o fa-2x"></i></button>
                <button routerLink="/admin/add-new-part/{{part.id}}" class="btn btn-primary d-flex align-items-center"><i class="fa fa-edit fa-2x"></i></button>
                <button (click)="deletePart(part.id)" class="btn btn-danger d-flex align-items-center"><i class="fa fa-trash fa-2x"></i></button>
                </div>
            </td>
        </tr>
    </table>

   
</div>
<div class="row d-flex justify-content-center mt-2 " *ngIf="totalCount > 0">
    <app-pager
     [pageSize]="partsParams.pageSize"
     [totalCount]="totalCount"
     (pageChanged)="onPageChanged($event)"
    ></app-pager>
   </div>