<div class="container">
    
<div class="my-3">
    <button routerLink="/admin/pannel" class="btn btn-success font-x-large d-flex align-items-center justify-content-center"><i class="fa fa-long-arrow-left fa-2x mr-1"></i> Back</button>
    <h1 class="mt-2">Add New Product Brand</h1>
    <div class="d-flex justify-content-center mt-5">
        <div class="col-8">
            <form [formGroup]="addBrandForm" (ngSubmit)="onSubmit()">
                <app-text-input formControlName="brandName" [label]="'Product Brand Name'"></app-text-input>
    
                <button [disabled]="addBrandForm.invalid" class="w-100 btn btn-lg btn-info mt-2" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>