<div class="row my-2 d-flex justify-content-center">

    <div class="row d-flex justify-content-center align-items-center my-2">
        <app-paging-header
        [totalCount]="totalCount"
        [pageSize]="this.userParams.pageSize"
        [pageNumber]="this.userParams.pageNumber"
        ></app-paging-header>
    </div>
    

    <table class="table">
        <tr>
            <th style="width: 30%;">User</th>
            <th style="width: 40%;">Active Roles</th>
            <th style="width: 30%;"></th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.displayName}}</td>
            <td>{{user.roles}}</td>
            <td><button (click)="openRolesModal(user)" class="btn btn-info">EditRoles</button></td>
        </tr>
    </table>
</div>


<div class="row d-flex justify-content-center mt-2 " *ngIf="totalCount > 0">
    <app-pager
     [pageSize]="userParams.pageSize"
     [totalCount]="totalCount"
     (pageChanged)="onPageChanged($event)"
    ></app-pager>
</div>